body{
    background-color:rgba(37, 98, 109, 0.322);
    background-size:cover;
    border:none;
    outline:none;
}
.details{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.vot_details{
    margin-top:20px;
    margin-left:50px;
    background-color:#fff;
    color:#000;
    width:30%;
    height:60%;
    padding-left:30px;
}
.nominee_details{
    margin-top:20px;
    margin-right:20px;
    background-color:#fff;
    color:#000;
    width:50%;
    height:100%;
    padding-left:30px;
}